.profile__info-edit-btn {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 16px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: black;/**/
  background: url("../../../images/Rectangle-edit.svg") no-repeat;/**/
  background-size: cover;/**/
  /*border: none;/**/
  /*background-size: 10px 10px;/*cover;/**/
  border: white;/**/
  border: 2px;
  /*border-radius: 2px;/**/
  cursor: pointer;
}

.profile__info-edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .profile__info-edit-btn {
        width: 18px;
        height: 18px;
        top: 30px;
  }
}
