.popup__container {
  display: flex;
  flex-direction: column; /* столбец */
  align-items: center; /*  */
  width: 430px;
  border-radius: 10px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  z-index: 4; /* накрывает для всех кто меньше */
}

@media screen and (max-width: 750px) {
  .popup__container {
      width: 282px;
  }
}
