.popup__container {
    width: 430px;
    height: 330px;
    border-radius: 10px;
    /*text-align: center;/**/
    /*padding: 15px;/**/
    /*border: 3px solid #0000cc;/**/
    /*color: #0000cc;/**/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    z-index: 4; /* накрывает для всех кто меньше */
  }