.element__like-btn {
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 22px; /*282*/
  min-height: 19px; /*361*/
  padding: 0;
  background: url("../../../images/like.svg") no-repeat;
  background-size: cover;
  border: none; /**/
  cursor: pointer;
}

.element__like-btn:hover {
  opacity: 0.5;
}