.lookImg__img {
    width:  816px;
    height: 540px;
    object-fit: cover;
}

  @media screen and (max-width: 960px) {
    .lookImg__img {
      width: 433px;
      height: 540px;
      }
  }

  @media screen and (max-width: 750px) {
    .lookImg__img {
      width: 240px;
      height: 299px;
      }
  }
  