.popup__input_theme_name {
  width: 330px;
  height: 50px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-bottom: 1px solid #cdcdcd; /*#f1f1f1;*/
  padding: 0 13px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  .popup__input_theme_name {
      width: 238px;
      /*height: 46px;/**/
  }
}
