.content {
  width: 880px;
  /*min-width: 320px;*/
  /*max-width: 1280px;*/
  display: flex;
  flex-direction: column; /* столбец */
  align-items: center; /*  */
  /*border:2px solid #d81435; /* красная рамка */
}

@media screen and (max-width: 960px) {
  .content {
      width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .content {
      width: 282px;
  }
}
