.lookImg__title {
  width: 291px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  position: absolute;
  left: 1px; /* отступ */
  bottom: -22px;/*12+10*/
  padding: 0;
  margin: 0;
  color: white;/*black;*/
}

@media screen and (max-width: 750px) {
  .lookImg__title {
      width: 238px;
      font-size: 18px;
      line-height: 22px;
      margin-top: 25px; /* отступ */
      margin-bottom: 48px;/*75=48+13+14*/
  }
}
