.popup__btn-close {
    background: rgba(0, 0, 0, 0.01);
    position: absolute;
    padding: 0;
    top: -40px;
    right: -40px;
    width: 34px;
    height: 34px;
    border: none;/**/
    font-size: 34px;/**/
    color: white;
    cursor: pointer;
  }
  
  .popup__btn-close:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 750px) {
    .popup__btn-close {
        right: -4px;/**/
        top: -50px;
      }
  }
  