.element {
  /*display: flex;*/
  position: relative;
  width: 282px; /*282*/
  height: 361px; /*361*/
  margin-bottom: 20px;
  border-radius: 10px;
  z-index: 1; /* накрывает для всех кто меньше */
  background-color: #ffffff;
}
