.profile__info-subtitle {
    /*width: 640px;*/
    /*height: 75px;/*75px текст отступает от верха блока*/
    font-size: 18px;
    line-height: 22px;
    font-weight:500;
    font-style:normal;
    text-align:start;
    z-index: 1; /* накрывает для всех кто меньше */
    margin-top: 16px; /* отступ */
    margin-bottom: 0;
    border:2px solid #d81435; /* красная рамка */
  }

  @media screen and (max-width: 750px) {
    .profile__info-subtitle {
      width: 280px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 14px; /* отступ */
      text-align: center;
    }
  }
